<html>

  <head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
     <title>index</title>
<style>

/* h1,span{
  text-align: center;
} */
*{
  margin-left: 10%;
  
}
li{
  margin-left: 5%;
  font-size: larger;
}
ol{
  font-size: larger;
}
</style>
 </head>

<body>
<span><h1 style="margin-left: 500px;">TEST BEGINS</h1>
<span style="margin-left: 990px;">Time left : </span><div id="timer" style="margin-left: 1000px;"></div></span>
<form action='/quiz' method='POST'>
    <ol>
        {% for i in q %}
            <li>{{i[0]}}</li>
            {% for j in i[1:5] %}
            <span id="options"><input class="form-check-input" type='radio' id="options" value='{{j}}' name='{{i[0]}}' />{{j}}</span><br />
            {% endfor %}
        {% endfor %}
    </ol>
    <input type="submit" style="margin-left:40%;" class="btn btn-danger" value="submit" id="b1"/>
</form>
<script>
      function setTimer() {
        document.getElementById("timer").innerHTML = 1 + ":" + 00;
        startTimer();

        function startTimer() {
          var presentTime = document.getElementById("timer").innerHTML;
          var timeArray = presentTime.split(/[:]+/);
          var m = timeArray[0];
          var s = checkSecond(timeArray[1] - 1);
          if (s == 59) {
            m = m - 1;
          }
          if (m < 0) {
            document.getElementById("b1").click();
            return;
          }

          document.getElementById("timer").innerHTML = m + ":" + s;
          console.log(m);
          setTimeout(startTimer, 1000);
        }

        function checkSecond(sec) {
          if (sec < 10 && sec >= 0) {
            sec = "0" + sec;
          } // add zero in front of numbers < 10
          if (sec < 0) {
            sec = "59";
          }
          return sec;
        }
      }
      setTimer();
    </script>
</body>
</html>
