<html>
<body>
<h1>TEST BEGINS</h1>
<div id="timer"></div>
<form action='/quiz' method='POST'>
    <ol>
        {% for i in q %}
            <li>{{i[0]}}</li>
            {% for j in i[1:5] %}
                <input type='radio' value='{{j}}' name='{{i[0]}}' />{{j}}
            {% endfor %}
        {% endfor %}
    </ol>
    <input type="submit" value="submit" id="b1"/>
</form>
<script>
    function setTimer() {
document.getElementById("timer").innerHTML = 0 + ":" + 10;
      startTimer();

      function startTimer() {
        var presentTime = document.getElementById("timer").innerHTML;
        var timeArray = presentTime.split(/[:]+/);
        var m = timeArray[0];
        var s = checkSecond(timeArray[1] - 1);
        if (s == 59) {
          m = m - 1;
        }
        if (m < 0) {
          document.getElementById("b1").click();
          return;
        }

        document.getElementById("timer").innerHTML = m + ":" + s;
        console.log(m);
        setTimeout(startTimer, 1000);
      }

      function checkSecond(sec) {
        if (sec < 10 && sec >= 0) {
          sec = "0" + sec;
        } // add zero in front of numbers < 10
        if (sec < 0) {
          sec = "59";
        }
        return sec;
      }
      setTimer();
</script>
</body>
</html>