<h1>Add new questions here</h1>
<form action="/save" method="POST">
    <label for="question">Question: </label>
    <input type="text" name="ques" id="question" placeholder="Add your question here" style="height:50px; width:30%"><br><br>
    <label for="option1">Option 1: </label>
    <input type="text" name="opt1" id="option1"><br><br>
    <label for="option2">Option 2: </label>
    <input type="text" name="opt2" id="option2"><br><br>
    <label for="option3">Option 3: </label>
    <input type="text" name="opt3" id="option3"><br><br>
    <label for="option4">Option 4: </label>
    <input type="text" name="opt4" id="option4"><br><br>
    <label for="answer">Answer: </label>
    <input type="text" name="ans" id="answer"><br><br>
    <button type="submit">Save</button>
</form>